body {
    font-family: 'Lusitana';
    background-color: #fcfcfc;
}

.container {
    max-width: 720px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-size: 64px;
    margin-bottom: 0;
}

.decorated-rule {
    padding: 0;
    border: none;
    border-top: medium double #b0b0b0;
    margin: auto;
}

input[type="text"] {
    padding: .56em;
    font-size: 1.13em;
    border: solid 1px #b0b0b0;
    font-family: 'Lusitana';
    width: 16em;
}

button {
    padding: .56em;
    font-size: 1.13em;
    border: solid 1px #b0b0b0;
    font-family: 'Lusitana';
    background-color: #dadada;
}