{% extends 'layout/default.twig' %}
{% block content %}
<h1 class="title">Dietcake</h1>
<p class="sub-title">Fastest MVC framework skeleton for PHP</p>

<hr class="decorated-rule" />

<h2>Available demo list</h2>
<ul>
  <li><a href="/demo/hello">Hello World</a></li>
</ul>
{% endblock %}
